* {
  font-family: "Oswald", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: rgb(246, 181, 60);
  height: 60px;
}

.header-wrapper {
  padding: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper img {
  height: auto;
  width: 85px;
}

.search-bar input {
  width: 250px;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.hotline {
  display: flex;
  align-items: center;
}

.bx {
  font-size: 1.5rem;
}

.hotline .hotline-content {
  font-size: 16px;
  color: red;
  margin-left: 5px;
  margin-right: 5px;
}

.hotline .bx {
  color: red;
}

.address .bx {
  color: blue;
}

.footer {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px ridge gray;
}

.footer-container {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.footer-container .about-us,
.footer-container .policy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .bx {
  font-size: 12px;
}

.footer-container .footer-content .phone-number {
  font-weight: bold;
}

#faq {
  color: red;
}

.body-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
}

.body-container .side-nav {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 0.1px solid black;
  box-shadow: 20px #717171;
  height: 478px;
}

.body-container .side-nav .side-nav-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.body-container .side-nav img {
  width: 13px;
  height: 13px;
  padding: 5px;
}

.slide-show-wrapper {
    width: 800px;
    margin: 5px;
    height: auto;
}

.slideshow-container {
  position: relative;
  margin: 5px;
  box-sizing: border-box;
  height: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    width: 100%;
    height: 478px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.discount-img {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
}

.discount-img img {
    width: 100%;
    height: auto;
    margin: 5px;
}