html, body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  width: 100%;
}

h3 {
  font-size: 13px;
}

p {
  font-size: 10px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.header-wrapper {
  display: block;
  max-height: 50px;
  width: 100%;
  background-color: orange;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  max-width: 85px;
  margin: 5px;
}

.header-content {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotline {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.bx {
  font-size: 1.5rem;
}

.hotline .hotline-content {
  font-size: 16px;
  color: red;
  margin-left: 5px;
  margin-right: 5px;
}

.hotline .bx {
  color: red;
}

.address .bx {
  color: blue;
}

.body-wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.body-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.body-container .side-nav {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 0.1px solid black;
  box-shadow: 20px #717171;
  border-radius: 5px;
}

.body-container .side-nav .side-nav-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.body-container .side-nav img {
  max-width: 13px;
  max-width: 13px;
  padding: 5px;
}

.slide-show-wrapper {
    max-width: 800px;
    margin: 5px;
    height: auto;
}

.slideshow-container {
  position: relative;
  margin: 5px;
  box-sizing: border-box;
  height: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.discount-img {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: auto;
}

.discount-img img {
    margin: 5px;
}

.body-banner {
  position: relative;
  margin: 20px;
  max-width: 100%;
}

.body-banner img {
  width: 100%;
  max-height: 100px;
  display: block;
}

.items-gallery-container {
  align-items: center;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  max-width: 100%;
  margin: 10px;
}

.items-gallery-container .items-gallery img {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}

.items-gallery-container .items-gallery {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 350px;
  width: 300px;
}

.items-gallery-container .items-gallery h3 {
  font-size: 15px;
  margin-bottom: -10px;
}

.items-gallery-container .items-gallery p {
  font-size: 20px;
}

.items-gallery-container .items-gallery span {
  margin-left: 10px;
  color: #717171;
  text-decoration: line-through;
}

.footer {
  max-height: 50px;
  width: auto;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  position: relative;
  left: 0;
  bottom: 0;
  border-top: 1px ridge gray;
}

.footer-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.footer-container .about-us,
.footer-container .policy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .bx {
  font-size: 12px;
}

.footer-container .footer-content .phone-number {
  font-weight: bold;
}

#faq {
  color: red;
}