* {
    font-family: 'Oswald', sans-serif;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.header {
    background-color: orange;
    height: 60px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: auto;
    width: 85px;
}

.header .menu {
    position: relative; /* Added position relative */
    padding-left: 30px; /* Adjusted padding */
    cursor: pointer;
}

.header .menu .menu-list {
    display: none;
    position: absolute;
    top: 100%; /* Position the menu list just below the menu */
    left: 0;
    background-color: white; /* Adjust the background color as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
}

.header .menu .menu-list a {
    color: black;
    font-size: 12px;
    width: 100px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .menu:hover .menu-list {
    display: block;
}

.header .menu .menu-list a:hover {
    background-color: #ddd;
}

.search-bar input {
    width: 250px;
    
    border-radius: 0.2rem;
}

.hotline {
    display: flex;
    align-items: center;

}

.bx {
    font-size: 1.5rem;
}

.hotline .hotline-content {
    font-size: 16px;
}

